@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.awards {
    width: 100%;
    min-height: 100vh;
    background: #FDF0E9;
    padding: 156px 135px;

    h1 {
        color: var(--Text_Dark, #391400);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Epilogue;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: 48px;
    }

    table {
        width: 100%;
        margin-top: 67px;
        background-color: red;
        tr {
            width: 100%;
            /* display: flex;
            justify-content: space-between; */
            align-items: center;
            td {
             
                .first {
                    width: 120px;
                    height: 80px;
                    border-radius: 6px;
                    opacity: 0.3181;
                    background: #5C2000;
                }

                h2 {
                    margin-left: 24px;
                    color: var(--Text_Dark, #391400);
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Epilogue;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }

                p {
                    color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
                    text-align: center;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Epilogue;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }

                h3 {
                    color: var(--Text_Dark, #391400);
                    text-align: right;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Epilogue;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                }
            }
            .left-box, .right-box{
                display: flex;
                align-items: center;
            }
            .right-box{
                justify-content: ;
            }
        }
    }
}